vendor
.idea
.vscode
bin-all
pubspec.lock
jsonnetfile.lock.json
db
/mod-disco/config/
/mod-disco/db/
/example/
/mod-disco/service/go/pkg/fakedata/fdata
/mod-disco/service/go/pkg/fakedata/bs-mod-disco.json
/mod-disco/service/go/pkg/fakedata/bs-mod-disco.yml
.DS_Store
/mod-disco/.idea/
